In [1]:
import pandas as pd

In [3]:
A = pd.DataFrame({"title":["go", "other", "other2"], "number": [1,2,3]})
A

    title  number
0      go       1
1   other       2
2  other2       3

In [10]:
B = pd.DataFrame(A["title"]+ "       " +A["number"].apply(lambda x: str(x)))
B

                0
0      go       1
1   other       2
2  other2       3

In [12]:
table_res = pd.DataFrame({"Game":["game1", "game2", "game3"], "Certainty": [10, 20, 30]})
table_res

    Game  Certainty
0  game1         10
1  game2         20
2  game3         30

In [20]:
dropdown_table = pd.DataFrame(table_res["Game"]+ " -------- " +table_res["Certainty"].apply(lambda x: str(x)))
dropdown_table

                   0
0  game1 -------- 10
1  game2 -------- 20
2  game3 -------- 30

In [39]:
C = dropdown_table.index[dropdown_table[0]== "game2 -------- 20"]
print(C)

Int64Index([1], dtype='int64')

In [40]:
C[0]

1